.dashboard-container {
  text-align: center;
  margin-top: 100px;
}

.dashboard-container h2 {
  margin-bottom: 10px;
}

.dashboard-container p {
  margin-bottom: 25px;
  color: #555;
}

.dashboard-button {
  padding: 10px 20px;
  background-color: #1f3c88;
  color: white;
  text-decoration: none;
}
